@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

* {
  box-sizing: border-box;
  font-family: var(--font-primary);
}

html,
body {
  background-color: var(--tertiary-color);
  color: var(--text-normal);
}

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
button,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-size: 100%;
  font-family: inherit;
  font-style: inherit;
  vertical-align: baseline;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
}

input {
  color: var(--normal-text);
  background-color: var(--input-color);
  padding: 8px;
  border-radius: 5px;
}
